/* fonts */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('/fonts/open-sans-v28-latin-300.woff2') format('woff2'),
        url('/fonts/open-sans-v28-latin-300.woff') format('woff'),
        url('/fonts/open-sans-v28-latin-300.eot');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/open-sans-v28-latin-regular.woff2') format('woff2'),
        url('/fonts/open-sans-v28-latin-regular.woff') format('woff'),
        url('/fonts/open-sans-v28-latin-regular.eot');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('/fonts/open-sans-v28-latin-600.woff2') format('woff2'),
        url('/fonts/open-sans-v28-latin-600.woff') format('woff'),
        url('/fonts/open-sans-v28-latin-600.eot');
}

/* Common classes */

*:focus {
    outline: 3px solid #ccc;
}

html {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-size: 15px;
    color: white;
    background-color: #3172b9;
    line-height: 1;
    border-radius: 4px;
    padding: 18px 35px;

    font-weight: 600;
    font-size: 15px;

    cursor: pointer;
    text-align: center;
}

.btn:hover {
    text-decoration: underline;
}

.btn:active {
    transform: translateY(1px);
}

.section-heading {
    color: #414141;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 300;
    margin-top: 0px;
}

.section-description {
    color: #787878;
    font-size: 16px;
    line-height: 1.31;
    font-weight: 300;
}

/* Header */

.header {
    height: 110px;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    height: 100%;
}

.header__nav-list {
    height: 100%;
}

.header__nav:hover .header__nav-item-active {
    border-bottom: 4px solid transparent;
}

.header__nav-item {
    height: 100%;

    transition-duration: 200ms;
    border-bottom: 4px solid transparent;
}

.header__nav-item:hover {
    border-bottom: 4px solid #3172b9 !important;
}

.header__nav-item:hover>.header__nav-link {
    transition-duration: 200ms;
    color: #3172b9;
}

.header__nav-item-active {
    border-bottom: 4px solid #3172b9;
}

.header__nav-item-active .header__nav-link {
    color: #3172b9;
}

.header__nav-item:not(:last-child) {
    margin-right: 50px;
}

.header__nav-link {
    display: flex;
    align-items: center;
    height: 100%;

    line-height: 1;
    font-size: 15px;
    color: #1c1c1c;
    font-weight: 600;
}

.header__btn {
    margin-left: 40px;
}

/* Hero */
.section-hero {
    max-width: 1539px;

    margin: 0px auto;
    padding: 0px;

    background-image: url("/img/hero-background.jpg");
    background-position: right center;
    background-position-x: 551px;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-hero__container {
    padding-top: 120px;
    padding-bottom: 120px;


    margin-right: auto;
    margin-left: auto;
}

.section-hero__content {
    max-width: 530px;
}

.section-hero__heading {
    margin-top: 0px;
    margin-bottom: 30px;

    color: #1c1c1c;
    font-size: 40px;
    line-height: 52px;
    font-weight: 300;
}

.section-hero__description {
    margin-bottom: 33px;

    color: #787878;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
}

.section-hero__ssl-icon {
    display: block;
}

.section-hero__btn {
    display: block;
    margin-bottom: 14px;
}

.section-hero__btn-container {
    display: inline-block;
    width: 250px;
}

.section-hero__btn-description {
    text-align: center;

    text-transform: uppercase;
    color: #787878;
    line-height: 1;
    font-size: 11px;
    font-weight: 400;
}

.section-hero__ssl-icon {
    display: inline-block;
    vertical-align: middle;

    width: 13px;
    height: 17px;
    margin-right: 10px;

    background: url("/img/shield-icon.png") center center no-repeat transparent;
    background-size: contain;
}

.section-hero__ssl-text {
    display: inline-block;
    vertical-align: middle;
}

/* SECTION 'WHAT WE DO' */
.section-do {
    padding-top: 220px;
    padding-bottom: 200px;
}

.section-do__description {
    margin-top: 25px;
}

.section-do__list {
    display: flex;
    margin-top: 50px;
}

.section-do__item {
    flex: 1 1 25%;
    padding: 60px 30px 60px 30px;

    transition: background-color .5s ease;    

    text-align: center;
    border: 1px solid #e4e4e4;
    border-radius: 30px;
}

.section-do__item:hover {
    background-color: #3172b9;
    cursor: pointer;
}

.section-do__item:hover .section-do__item-description,
.section-do__item:hover .section-do__item-heading {
    color: white;
}

.section-do__item-heading {
    display: block;
    transition: color .3s ease;
}

.section-do__item:not(:last-child) {
    margin-right: 30px;
}

.section-do__item-description {
    margin: 15px 0px 0px 0px;
    transition: color .3s ease;
    color: #787878;
}

.section-do__card-img {
    width: 68px;
    height: 68px;

    display: block;
    margin: 0px auto 25px auto;
    
    transition: background-image .3s ease;

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-do__card-img1 {
    background-image: url('/img/section-do-img-1-1.png');
}

.section-do__item:hover .section-do__card-img1 {
    background-image: url('/img/section-do-img-1-2.png');
}

.section-do__card-img2 {
    background-image: url('/img/section-do-img-2-1.png');
}

.section-do__item:hover .section-do__card-img2 {
    background-image: url('/img/section-do-img-2-2.png');
}

.section-do__card-img3 {
    background-image: url('/img/section-do-img-3-1.png');
}

.section-do__item:hover .section-do__card-img3 {
    background-image: url('/img/section-do-img-3-2.png');
}

.section-do__card-img4 {
    transform: translateX(-8px);
    background-image: url('/img/section-do-img-4-1.png');
}

.section-do__item:hover .section-do__card-img4 {
    background-image: url('/img/section-do-img-4-2.png');
}

/* Section Clients */
.section-clients {
    padding-top: 90px;
    padding-bottom: 160px;
}

.section-clients__heading {
    margin-bottom: 40px;
}

.section-clients__list {
    display: flex;

    max-width: 100%;
}

.section-clients__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30%;
    flex: 1 1 20%;

    padding: 40px 35px 25px 35px;

    border: #e4e4e4 1px solid;
    border-radius: 5px;
}

.section-clients__testimonial {
    font-size: 14px;
    color: #787878;
    line-height: 1.8;

    margin-bottom: auto;
}

.section-clients__item:not(:last-child) {
    margin-right: 30px;
}

.section-clients__avatar {
    display: inline-block;
    vertical-align: middle;

    height: 66px;
    width: 66px;

    border: 2px solid #3172b9;
    border-radius: 50%;
}

.section-clients__user-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
}

.section-clients__username {
    font-weight: bold;
    font-size: 17px;
    color: #1c1c1c;
}

.section-clients__user-description {
    font-size: 14px;
    color: #787878;
}

.section-clients__user {
    padding-top: 25px;
    border-top: 1px #dadada solid;
}

.section-clients__testimonial {
    margin-bottom: 30px;
}

.top-border-line {
    border-top: 1px solid #dadada;
}

/* section contacts */

.section-contacts {
    padding-bottom: 160px;
}

.section-contacts__heading {
    margin-top: 60px;
    margin-bottom: 100px;
}

.section-contacts__list {
    display: flex;
}

.section-contacts__item {
    flex: 1 1 30%;
}

.section-contacts__icon {
    height: 26px;
    margin-bottom: 15px;

    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom left;

}

.section-contacts__icon1 {
    background-image: url("/img/contacts-gps.png");
}

.section-contacts__icon2 {
    background-image: url("/img/contacts-phone.png");
}

.section-contacts__icon3 {
    background-image: url("/img/contacts-mail.png");
    background-size: auto 19px;
}

.section-contacts__heading {
    display: block;
    margin-bottom: 35px;

    font-size: 17px;
    color: #1c1c1c;
}

.section-contacts__content {
    width: 55%;

    font-size: 14px;
    color: #787878;
    line-height: 1.5;
}

.section-contacts__link {
    color: #787878;
}

.section-contacts__link:hover {
    text-decoration: underline;
}

/* section get started */
.section-started {
    margin-bottom: 110px;
}

.section-started__heading {
    margin-top: 110px;
}

.section-started__description {
    margin-top: 25px;
}

.section-started__form {
    display: flex;

    margin-top: 50px;
    margin-right: 60px;
    margin-left: 60px;
}

.section-started__input {
    flex: 1 1 20%;
    border: 1px solid #dadada;
    border-radius: 30px;
    padding-left: 30px;

    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 16px;
}

.section-started__input:not(:last-child) {
    margin-right: 20px;
}

.section-started__btn {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;

    border: 0 solid red;
    border-radius: 30px;
}

/* footer */
.footer__container {
    display: flex;

    padding-top: 40px;
    padding-bottom: 35px;
}

.footer__right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.footer__nav {
    display: inline-block;
}

.footer__nav-list {
    display: inline-block;
    height: 100%;
}

.footer__nav-item {
    display: inline-block;
}

.footer__nav-item:not(:last-child) {
    margin-right: 35px;
}

.footer__copyright {
    margin-left: 20px;
    display: inline-block;
    font-size: 12px;
    color: #787878;
}

.footer__logo {
    display: inline-block;
    vertical-align: middle;
}

.footer__social-list {
    display: inline-block;

    margin-left: 50px;
}

.footer__social-item {
    display: inline-block;
    font-size: 14px;
    color: #787878;
}

.footer__social-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
}

.footer__social-item:not(:last-child) {
    margin-right: 20px;
}

.footer__social-twitter-icon {
    background-image: url("/img/Twitter.png");
}

.footer__social-linkedin-icon {
    background-image: url("/img/Linkedin.png");
}

.footer__social-email-icon {
    background-image: url("/img/Email.png");
}